@import "~/.config/rofi/colors.rasi"

* {
    /*--------- Properties for All Widgets ---------*/
    font: "Maple Mono 12";
    background-color: @background;
    // text-color: @foreground;
    vertical-align: 0.5;
    spacing: 0;
    border-color: @border;
}

window {
    width: 720px;
    location: center;
    anchor: center;
    background-color: @background;
    border: 1px;
    border-radius: 16px;
}

mainbox {
    margin: 27px;
    spacing: 27px;
    children: [inputbar,listview];
}

prompt {
    enabled: false;
}

entry {
    text-color: @input-foreground;
    background-color: transparent;
    placeholder: "Type to Filter...";
    horizontal-align: 0.5;
    font: "Maple Mono 17";
    padding: 0px 15px 0px 27px;
    cursor: text;
}

inputbar {
    background-color: @input-background;
    border-radius: 12px;
    padding: 6px;
}

listview {
    lines: 8;
    spacing: 6;
}

button {
    text-color: @foreground;
    padding: 9px;
    font: "Maple Mono 17";
    cursor: pointer;
    border-radius: 9px;
}

button.selected {
    text-color: @foreground;
    border: 1px;
}

element {
    children: [element-icon,element-text];
    text-color: @foreground;
    cursor: pointer;
}

element-icon {
    size: 34;
    padding: 8px 12px 8px 8px;
    cursor: inherit;
}

element-text {
    text-color: inherit;
    cursor: inherit;
    font: "Maple Mono 16";
    horizontal-align: 0.0;
}

element.selected {
    text-color: @selected-foreground;
    background-color: @selected-background;
    border-radius: 10px;
    border: 1px;
}

element.active {
    text-color: @foreground;
}

element.urgent {
    text-color: @foreground;
}

/* vim: ft=css
